// Colours
$darkGrey: hsl(0, 0%, 24%);
$darkBlue: hsl(230, 15.32%, 18.98%);
$limeGreen: hsl(136, 65%, 51%);
$candyPink: hsl(332, 91%, 64%);
$brightCyan: hsl(192, 70%, 51%);
$greyBlue: hsl(233, 8%, 62%);
$lightGreyBlue: hsl(220, 16%, 96%);
$brightGrey: hsl(0, 0%, 98%);
$white: hsl(0, 18%, 97%);

// Font Sizes
$font-sm: 1rem;  // 16px
$font-med: 1.125rem;  // 18px
$font-lg: 1.25rem;  // 20px
$font-xlg: 3.25rem;  // 52px
$font-h2: 2rem;  // 52px
$font-display-mobile: 84px;  // 5.25rem
// $font-display-mobile: 6rem;  // 96px
$font-display: 7.5rem;  // 104px


